<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Sección edit</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h2>Edit USER <%= userToEdit.name %></h2>
    <form class="form" method="POST" action="/users/:userId/edit?_method=PUT"  >
        <label for = "name">Nombre:
            <input type="text" name="name" value="<%=userToEdit.name %>">
        </label>
        <label for = "edad">Edad:
            <input type="text" name="edad" value="<%=userToEdit.edad %>">
        </label>
        <label for = "email">Nombre:
            <input type="text" name="email" value="<%=userToEdit.email %>">
        </label>

        <br>
        <input type="submit" value="Editar">
    </form>

</body>
</html>